<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>app.controllers.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>app.controllers.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TablaUsuarios</servlet-name>
        <servlet-class>app.controllers.TablaUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDelete</servlet-name>
        <servlet-class>app.controllers.UserDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductInformation</servlet-name>
        <servlet-class>app.controllers.ProductInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDelete</servlet-name>
        <servlet-class>app.controllers.ProductDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TablaUsuarios</servlet-name>
        <url-pattern>/TablaUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDelete</servlet-name>
        <url-pattern>/UserDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductInformation</servlet-name>
        <url-pattern>/ProductInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDelete</servlet-name>
        <url-pattern>/ProductDelete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
